<p id="notice"><%= notice %></p>

<p>
  <b>Rr cd:</b>
  <%= @station.rr_cd %>
</p>

<p>
  <b>Line cd:</b>
  <%= @station.line_cd %>
</p>

<p>
  <b>Station cd:</b>
  <%= @station.station_cd %>
</p>

<p>
  <b>Line sort:</b>
  <%= @station.line_sort %>
</p>

<p>
  <b>Station sort:</b>
  <%= @station.station_sort %>
</p>

<p>
  <b>Station g cd:</b>
  <%= @station.station_g_cd %>
</p>

<p>
  <b>R type:</b>
  <%= @station.r_type %>
</p>

<p>
  <b>Rr name:</b>
  <%= @station.rr_name %>
</p>

<p>
  <b>Line name:</b>
  <%= @station.line_name %>
</p>

<p>
  <b>Station name:</b>
  <%= @station.station_name %>
</p>

<p>
  <b>Pref cd:</b>
  <%= @station.pref_cd %>
</p>

<p>
  <b>Lon:</b>
  <%= @station.lon %>
</p>

<p>
  <b>Lat:</b>
  <%= @station.lat %>
</p>

<p>
  <b>F flag:</b>
  <%= @station.f_flag %>
</p>


<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
